.Fondo{
    background-color: #000C18;
    
}


.text-center{
    color: rgb(255, 255, 255);
}

.Contenedor{

    display: grid;
    grid-template-columns: 20% 20% 20%;
    row-gap: 50px;
    column-gap: 160px;
    margin-left: 60px;
    margin-top: 80px;

}