.Fondo{
    background-color: #000C18;
}


.tarjeta-container{
    text-align: center;
    background-color: #f4d061;
    height: 450px;
    margin-bottom: 50px;
}

.cardsGrupo{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    background-color: #000C18;
    justify-content: center;
    column-gap: 150px;
}