.Fondo{
    background-color: #000C18;
}


.tarjeta-container{
    width: 24rem;
    text-align: center;
    background-color: #ffbf00;
}

.cardsGrupo{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    column-gap: 150px; 
    background-color: #000C18;
    justify-content: center;
}