navegador{
    background-color: #051336;
}

@font-face {
    font-family: 'StarJedi';
    src: url(../fuentes/StarJedi.ttf);
}

.texto-nav{
    font-family: 'StarJedi';
    text-decoration: none;
    margin-left: 25px;
    color:yellow;
    font-size: 18px;
}

.texto-nav:hover{
    color:aqua;
    transform: transition all .7s;
    transform: scale(2)
}